* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header,
footer {
    background-color: #333;
    color: #FFF;
    padding: 35px;

    text-align: center;
}

main {
    display: flex;
    background-color: #eee;
    padding: 145px;
    height: 160px;
    gap: 30px;

}

.conversor {
    width: 100%;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 7px;
    padding: 20px;

}

input {
    width: 100%;
    height: 40px;
    outline: none;
    margin-top: 10px;
    box-sizing: border-box;
    
}

button {
    background-color: #333;
    color: white;
    width: 100%;
    height: 40px;
     
    border-radius: 5px;
    margin-top: 10px;
}


    



    
    



